{% extends "bases/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}TikbiT | Fitness{{ block.super }}{% endblock %}

{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}

.jumbotron {
	background-color:#768083;
	color: #FFF;
}
p {
    font-size: 125%;
}

{% endblock %}

{% block upperjs %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
{%  endblock %}
    
{% block jumbotron %}

<div  style="background: url('{% static "img/GTEX_GREEN.png" %}') no-repeat center center;" class="jumbotron">
 <div class="container">
	<div class="row">
		<div class='col-sm-6'>
		<h1>Fitness</h1>
		<p>Coming to iOS and Android!</p>
		<p>
		<a style="background-color: #3EA096; border-color: #000000;" class="btn btn-lg btn-primary" href="#location" role="button">Sign Up! &raquo;</a>
		</p>
		</div>
		<div class='col-sm-6' >
			<span class="fa-4x">
              <img  class=" img-responsive center-block fa fa-4x"src="{% static 'img/beforeAfter.jpg' %}">
            </span>
            <h3>Before and After shot of the<br> App Creator
                using this program.</h3>

 		</div>
		</div>
	</div>
 </div>

{% endblock %}

{% block content %}

<div class="row">
	
	  <a name="location"></a>
	  <div class="col-md-3 center">
	  			
				<p class='lead text-align-center'>{{ title }}</p>

				<form method='POST' action=''>{% csrf_token %}
	            {{ form|crispy }}

	            <input name ="location" style="background-color: #3EA096; border-color: #000000;" class=' center-block btn btn-primary' type='submit' value='Sign Up' />

	            </form> 
	            
	            <!-- Element to pop up -->
	            <div id="element_to_pop_up">

	                <div id="containerSignUp" style="width:380px; height:346px;"></div>
	            </div>
	            
	            <br>
	            <br>
		</div>
    
</div>
<div>
	<div>
	          <h2>Fitness</h2>
	          <p>This App will do all the thinking for you. It will calculate necessary caloric intake based on personalized physicial information,and suggest required physicial/excercise regime. Routine to be followed during plan; as well as, different eating cycle for optimal fat loss while keeping lean muscle. The creator of this app lost almost 100 pounds following this highly tailored program! We want to share it with you!</p>
	                    
	</div><!-- /.col-lg-4 -->
	
</div>

{% endblock %}

{% block script %}
{% include "js/pies/pieFitness.js" %}
{% include "js/popup.js" %}
{% endblock %}