 <!-- START THE FEATURETTES -->
      {% load staticfiles %}

      <hr class="featurette-divider">
      <a name="TikbiT"></a>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">What is TikbiT?</h2>
          <p class="lead">TikbiT provides highly personalized service for all your Tech Development needs, from creating your website or app to maintaining it. TikibiT also creates inhouse projects, go check out our apps and games page.</p>
        </div>
        <div class="col-md-5">
          <img src="{% static 'img/Green_Grass_XLogo.png' %}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
      <a name="Wesley"></a>
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Wesley Gue <span class="text-muted">: Creator of TikbiT</span></h2>
          <p class="lead">Wesley is a professionally employeed software developer with experiance in creating web based business network applications. He founded TikbiT to create a platform to launch exciting projects and created his own business to welcome new customers to our developmental services.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img src="{% static 'img/HeadShot_Xsmall.png' %}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->