    {% load staticfiles %}
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->


<style>
{% block style %}
.navbar-static-top {
  margin-bottom: 0px !important;
}

.jumbotron {
  background-color:#41B3D5;
  color: #FFF;
}

h2 {
  text-align: center;
}

{% endblock %}
</style>


    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-md-3">
          <h2>Website Development</h2>
          <p>Needing a website for your business or cause? Maybe you are insteaded in a E-commerce site to allow customers to purchase items from your inventroy directly online. Do you have a more graphicly intense website idea that shows your personality and character more clearly? I'll be able to make your website dream a reality.</p>
          <p><a class=" center-block btn btn-default" href="{% url 'business_contact' %}" role="button">Contact &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-3">
          <h2 >Mobile App Development</h2>
          <p>Do you have an idea of an app that you really want to launch in the mobile world? Are you looking for an app for your own companies use? I'll make your app come to life</p>
          <p><a class=" center-block btn btn-default" href="{% url 'business_contact' %}" role="button">Contact &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-3">
          <h2 >Software Development</h2>
          <p>Are you after a larger software project that can handle a lot of needs that aren't curently met for you? I'll make it happen </p>
          <p><a class=" center-block btn btn-default" href="{% url 'business_contact' %}" role="button">Contact &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-3">
          <h2 >Inhouse Programmer</h2>
          <p>I am always open to any business opertunity. If you are looking for an inhouse programmer or are looking to add someone to your team feel free to contact me.</p>
          <p><a class=" center-block btn btn-default" href="{% url 'business_contact' %}" role="button">Contact &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


    </div>




     


    

