{% extends "bases/base_register.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}
{% if request.user.is_authenticated %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>Register for free!</h1>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <input  style="background-color: #3EA096; border-color: #000000;" class='btn btn-block btn-primary' type="submit" value="{% trans 'Join' %}" />
</form>
</div>
</div>

<hr/>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p>Need to <a href="{% url 'auth_login' %}">Login</a>?</p>
</div>
</div>
 {% else %}

<h1 stlye="text-align: center;">Registration for staff only.</h1>
<br>
<br>


{% endif %}


{% endblock %}
