{% extends "bases/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

<div style="background: url('{% static "img/GTEX_GREEN.png" %}') no-repeat center center; color:white; " class='row'>
<div class='col-sm-6 col-sm-offset-3'>


{% if title %}
<h1 class='{% if title_align_center %}text-align-center{% endif %}'>{{ title }}</h1>
{% endif %}

<form style="width:100%;" method='POST' action=''>{% csrf_token %}
{{ form|crispy }}

<input class=' center-block btn btn-primary' style="background-color: #3EA096; border-color: #000000; font-size: 200%;" type='submit' value='Submit' />

<!-- Element to pop up -->
            <div id="element_to_pop_up">
                

                <div id="containerSignUp" style="width:280px; height:130px;">
                	
                </div>
            </div>
</form>
<br>
<br>
</div>
</div>
{% endblock %}

{% block script %}
{% include "js/popUps/popupContact.js" %}
{% include "js/popup.js" %}
{% endblock %}